
<section class="p-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md">
                <img src="../../../assets/fast-food-menu.svg" class="img-fluid w-75 " alt="img"/>
            </div>

            <div class="col-md align-items-center justify-content-between">
                <h2 class="text-center mb-4">Enter your login details</h2>
                <form action="" (ngSubmit) = "handleLogin()" class="needs-validation">
                    <div class="form-group mb-3 has-error" [class.has-error]="">
                        <input 
                            type="email" 
                            [(ngModel)] ="email" 
                            name="email" 
                            placeholder="Email" 
                            id="email" 
                            class="form-control"
                            required
                            minlength="2"
                            maxlength="45"
                        />
                        <span *ngIf="hasError" class="help-block text-danger"> Error</span>
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                    </div>

                    <div class="form-group mb-3">
                        <input 
                            type="password" 
                            [(ngModel)] ="password" 
                            name="password" 
                            placeholder="Password" 
                            id="password"
                            class="form-control"
                            required
                            minlength="5"
                        />
                        <div class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    
                    <app-button btnclass="btn btn-primary" text="Sign in"></app-button>
                </form>
            </div>
        </div>
    </div>
</section>


