<section class="p-5">
      <div class="container">
        <h2 class="text-center mb-3">Our Popular Recipes</h2>

        <div class="row g-4">
            <div *ngFor="let recipe of recipes" class="col-md-6 col-lg-4">
                <div class="card bg-light text-dark text-center">
                    <div class="card-body">
                        <img src={{recipe.phot}} alt="" class=" mb-3 img-fluid w-50"/>
                    </div>
                    <h3 class="card-title mb-3">{{recipe.name}}</h3>
                    <p class="card-text mb-3">{{recipe.content}}</p>
                </div>
            </div>  
        </div>
    </div>
</section>
