<section class="p-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div *ngFor="let content of contents">
                <h1>{{content.title1}} <span class="text-warning">{{content.title2}}</span></h1>
                <p class={{content.class}}>
                    {{content.cnt}}
                </p>
                <app-button btnclass={{content.btnClass}} text={{content.btnText}}></app-button>
            </div>
            <img src={{indexImage}} class="img-fluid w-50" alt="img"/>
        </div>
    </div>
</section>
<app-recipes></app-recipes>
