<div class="container p-5">
    <div class="card mb-3">
        <div class="card-header text-center">{{recipe.name}}</div>
        <img src={{recipe.phot}} class="card-img-top img-fluid w-25 d-block mx-auto my-3" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title text-bold">{{recipe.name}}</h5>
          <p class="card-text">{{recipe.content}}</p>
        </div>
        <div class="card-footer">
            <button (click)="goBack()" class="btn btn-primary">Back</button>
          </div>
    </div>
</div>